
button,
div,
form,
input {
  margin: 10px;
}

body{
	background: url("../images/background.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
    color: black;
}
.jumbotron {
    background-color: green;
    opacity: 0.5;   

}
.jumbotron .h1, .jumbotron h1 {
    text-align: center;
}

img { 
    height: auto;;
    width: 100%;
}
.container {
	background-color: #fff;
	opacity: 0.8;
	padding: 20px;
}

.input-field{
    background-color: black;
};

div#footer {
    background-color: grey;
	clear: both;
	margin-top: 40px;
	position: center;
	bottom: 0;
	left: 0;
	text-align: center;
}

/* Background Image For Page */
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(#FFE29E, #DCF9B2);
}
/* h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-family: "Share Tech Mono", monospace;
  font-weight: normal;
  text-shadow: 0 2px 4px rgba(white, .25),
    0 1px 2px rgba(white, .5);
  text-transform: uppercase;
  letter-spacing: .15em;
  color: rgba(darkslategray, .8);
  pointer-events: none;
} */
rect {
  fill: none;
  pointer-events: all;
}

circle {
  fill: none;
  stroke-width: 1px;
}